.quoraBox{
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: hover ease-in
}

.quoraBox:hover{
    border-color: #adacac;
}

.quoraBox__info{
    display: flex;
    align-items: center;
}

.quoraBox__info>h5{
    color: rgb(129,129,129);
    font-weight: 300;
    margin-left: 10px;
}

.quoraBox__quora{
    display: flex;
    margin-top: 8px;
}

.quoraBox__quora>p{
    color: grey;
    font-weight: bold;
    font-size: large;
}